<p class = 'text-success'><%= notice %></p>
<div class = 'container'>
  <h2 class = 'col-4 bg-light mt-5 text-center'>会員一覧</h2>

  <div class = 'row mt-5'>
    <div class = 'col-10 mx-auto'>
      <table class = 'table '>

        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td><%= customer.is_active ? '有効' : '退会' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>