<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-3'>
      <h3 class = 'text-center'>注文履歴詳細</h3>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-8'>
      <h3>注文情報</h3>
      <table class = 'table'>
        <tbody>
          <tr>
            <th>購入者</th>
            <td><%= link_to @order.customer.last_name + @order.customer.last_name, admin_customer_path(@order.customer) %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y-%m-%d") %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>
              <%= @order.postal_code %></br>
              <%= @order.address %></br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-8'>
      <table class = 'table'>
        <tbody>
          <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
          <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.purchase_price %></td>
            <td><%= order_item.amount %></td>
            <td><%= order_item.subtotal %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class = 'col-4'>
      <table class = 'table'>
        <tr>
          <th>商品合計</th>
          <td><%= @order.total_price %></td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @order.billing_amount %></td>
        </tr>
      </table>
    </div>
  </div>
</div>