<div class = 'container'>
  <div class = 'row mt-2'>
    <div class = 'col-3'>
      <h3 class = 'text-center bg-light'>注文情報入力</h3>
    </div>
  </div>
    <div class = 'row mt-3'>
      <div class = 'col-12'>
        <h4>支払方法</h4>
      </div>
    </div>

    <%= form_with model:@order, local:true do |f| %>
    <div class = 'row'>
      <div class = 'col-5'>
        <%= f.radio_button :payment_method, :card %>
        <%= f.label :payment_method_card, 'クレジットカード' %>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-5'>
        <%= f.radio_button :payment_method, :bank %>
        <%= f.label :payment_method_bank, '銀行振込' %>
      </div>
    </div>
    <div class = 'row mt-3'>
      <div class = 'col-12'>
        <h4>お届け先</h4>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-10'>
        <%= f.radio_button :address, current_customer.address %>
        <%= f.label :address,'ご自身の住所' %>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-1'></div>
      <div class = 'col-10'>
        〒<%= current_customer.postal_code %>
        <%= current_customer.address %>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-1'></div>
      <div class = "col-10">
        <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-10'>

      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-10'>
        <%= f.collection_select :address, current_customer.addresses, :id, :view_address_and_name, include_blank: "選択して下さい", class: '' %>
      </div>
    </div>
   <% end %>
</div>