<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-3'>
      <h3 class = 'text-center'>ジャンル検索</h3>
    </div>
    <div class = 'row'>
      <div class = 'col-2'>
        <h2>支払方法</h2>
        <%= form_with @order, local:true do |f| %>
        <%= f.label :payment_method_bank, '銀行振込' %>
        <%= f.radio_button :payment_method, :bank %>
        <%= f.label :payment_method_card, 'クレジットカード' %>
        <%= f.radio_button :payment_method, :card %>
        <% end %
      </div>
    </div>
  </div>
</div>